header{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.logo{
    padding: 0px 50px 20px 50px;
}
.ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.ul_contact{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
}

/* contact page */
.contact{
    background-color: teal;
}
.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10px;
    margin: 50px 100px 0px 600px;
    justify-content: center;
    border-radius: 10px;
}
#submit{
    color: white;
    background-color: teal;
    justify-content: center; 
    padding: 5px 120px 5px 120px;
}
.form_group{
    padding: 5px 20px 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 60px 5px 60px;
}
#f1{
    padding: 15px 15px 15px 15px;
}


#list{
    color: white;
}
.shopping-cart {
    width: 28px;
    height: 28px;
    cursor: pointer;
    padding: 10px 0px 0px 0px;
}
.body{
    display: flex;
    padding: 50px 20px 0px 200px;
}
.food{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    /* background-color: #f8f9fa; */
}
.container {
    text-align: center;
}
.container h1:hover{
color: red;
}
.foodlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.food-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.2s; */
}

.food-item:hover {
    transform: scale(1.05);
}

.food-item img {
    width: 80%;
    border-radius: 8px;
}

.food-item h2 {
    margin: 10px 0;
    font-size: 18px;
 padding-right: 200px;
}

.food-item p {

    margin: 5px 0;
    font-size: 30px;
padding-right: 200px;
    color: lightcoral
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    padding: 0px 50px 0px 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}
#logo{
    width: 50px;
    height: 50px;
    padding-right: 350px;
}
#icon{
    display: none;
}
h2{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
#price{
    padding: 20px 55px 20px 55px;
    border-color: darkorchid;
    border-style: solid;
    color: darkorchid;
    margin-right: 35px;
}
#price:hover{
    background-color: rgb(190, 114, 205);
    color: white;
}
#add_to_cart{
    padding: 20px 30px 20px 30px;
    color: white;
    background-color: darkorchid;
    border-style: solid;
    border-color: darkorchid;
}
#add_to_cart:hover{
    background-color: rgb(190, 114, 205);
    color: white;
}
.class{
    display: flex;
    justify-content: space-evenly;
}
.cheese_note{
    padding-right: 300px;
}
.ham{
    height: 300px; /* Height of the div */
    display: flex;
    object-fit: fill;
}

@media (min-width: 475px) {
    #home{
        display: none;
        padding: 0%;
    }

    #menu{
        display: none;
        padding: 0%;
    }
    #contact{    
        display: none;
        padding: 0%;
    }
    #logo{
        padding-left: 0%;
    }
    #cart{
        padding-left: 0%;
    }
    .body{
        display: grid;
        padding-left: 10%;
    }
}

@media (min-width: 640px) {
    .ul {
        justify-content: space-around;
    }

    .body {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
    .ul {
        justify-content: space-evenly;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
    .body{
        display: flex;
    }
    .ul{
        display: flex;
    }
    .ham img {
        max-width: 400px;
    }

    .btn button {
        padding: 20px 30px;
    }
}

@media (min-width: 1280px) {
    .ul {
        display: flex;
        justify-content: space-between;
    }

    .btn button {
        padding: 25px 35px;
    }
}
@media (min-width: 1536px) {
    .ul{
        display: flex;
    }
}

